<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-code mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Take a look at the
        <a target="_blank" class="font-weight-bold" href="https://github.com/hlaueriksson/full-stack-csharp">GitHub repo</a>
    </span>
    and find out.
</div>

@functions {
    // Demonstrates how a parent component can supply parameters
    [Parameter] string Title { get; set; }
}
